<!DOCTYPE html>
<meta http-equiv="Refresh" content="3000">
<html>
<head>
  <meta charset="utf-8">
  <title>TrendStock</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css" media="all" >
 <link rel="stylesheet" href="/assets/stylesheets/bootstrap-responsive.min.css" media="all" >
 <link rel="stylesheet" href="/assets/stylesheets/bootslider.css" media="all">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"> </script>
 <script type="text/javascript" src="assets/javascripts/bootslider.css"></script>
 <script type="text/javascript" src="assets/javascripts/bootstwatch.js"></script>




  


  <script type="text/javascript" src="assets/javascripts/scripts.js"></script>



  <%= csrf_meta_tags %>



</head>
<body>




 <div class="container">
  <div class="navbar navbar-default navbar-fixed-top">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" data-toggle="tooltip" data-placement="right" title="Click Here To See Home Page">#Bet#</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="" data-toggle="tooltip" data-placement="left" title="Click Here To Bet" ><a href="/">Home</a></li>
          <li><a href="#AboutUs" data-scroll="true" data-toggle="tooltip" data-placement="left" title="Wanna Know more About Us ?" >About US</a></li>
          <li><a href="#AboutUs" data-scroll="true" data-toggle="tooltip" data-placement="left" title="Click Here to See your Accounts" >My Account</a></li>
          <% if current_user %>
          <li><%= render 'formAddBalance'%></li>
           <li><h5><p class="text-info">Your Balance is <%= number_to_currency(current_user.balance  ) %> </h5></p> </li>
          
              <%else%> 

              <li><%= link_to "Sign in To start Bet !!", "/auth/twitter",  type: "button", class: "btn btn-danger", title: 'Click Here to Sign In', rel: 'tooltip' %></li>
              <% end %>

            <!--
            <li <div id="timer">
This is only valid for the next <input id="minutes" type="text" style=" font-weight: bold;"> minutes and <input id="seconds" type="text" style="width: 26px; border: none; background-color:none; font-size: 16px; font-weight: bold;"> seconds.
</div> -->
          </li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
          <% if current_user %> 
            <li> <h5>Signed in as <%= current_user.name %>! </h5></li>
             <ul class="nav navbar-nav">
            
             <li class="" data-toggle="tooltip" data-placement="left" title="Click Here To Bet" ><%= link_to "Sign out", signout_path %>
                <% else %>
                <li class="" data-toggle="tooltip" data-placement="left" title="Click Here To Bet" ><%= link_to "Sign in with twitter", "/auth/twitter" %> 
                
              </li>
              <% end %>
              </ul>
            </ul>
        </div>
      </div>







    <%= yield %>
    

  </div>


</body>

 





  <script>
countdown();
</script>

</html>
